@import "variables";

@mixin box-border {
	border: 1px solid $gray-darker !important;
	border-right: 2px solid $gray-light !important;
	border-bottom: 2px solid $gray-light !important;
	background-color: transparent !important;
}