$header-font: 'Montserrat', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;

$theme-color: rgb(97, 0, 223);
$bg-dark: rgb(38, 38, 38);
$bg-light: rgb(239, 239, 239);
$gray-darker: rgb(48, 48, 48);
$gray-dark: rgb(58, 58, 58);
$gray-light: rgb(88, 88, 88);
